# =========================
# React (Vite)
# =========================
Frontend/node_modules/
Frontend/dist/
Frontend/.env

# =========================
# Django
# =========================
Backend/.env
Backend/db.sqlite3
Backend/__pycache__/
Backend/**/*.py[cod]

# =========================
# Python Virtual Environment
# =========================
env/
venv/
.venv/

# =========================
# IDE
# =========================
.vscode/

# =========================
# Logs
# =========================
*.log

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db